<div class="container text-center">
   <h1 class="text text-danger mt-3 mb-3">{{ title }}</h1>
         <img src="/images/LEGO.jpg">

   <div class="d-flex justify-content-center">
      <a href="/toy" class="btn btn-primary m-2">Manager</a>
      <a href="/view" class="btn btn-secondary m-2">Customer</a>
   </div>
</div>
